{% block content %}
<body>
    <h1>Budget Selection</h1>
    {% if budgets %}
        <form method="POST" action="{{ url_for('budget_select_default_route') }}">
            <ul class="budget-list">
                {% for budget in budgets %}
                    <li class="budget-item">
                        <input type="radio" name="selected_budget" value="{{ budget[0] }}" required>
                        <label>{{ budget[1] }}</label>
                    </li>
                {% endfor %}
            </ul>

            <button type="submit">Continue</button>
        </form>
    {% else %}
        <p>You don't have any budgets yet.
            <a href="{{ url_for('budget_create_route') }}">Create one now</a>.
        </p>
    {% endif %}
</body>
{% endblock %}