{% import "nav_macros.html" as nav %}
{% extends "base.html" %}

{% block title %}Budget Settings{% endblock %}

{% block content %}
<div class="home-container">
    <div class="header-links">
        {{ nav.budgets_home(budget_id) }}
        {{ nav.home() }}
        {{ nav.logout() }}
    </div>

    <h1 class="home-title">Budget Settings</h1>
    
    <div class="btn-group">
        {{ nav.budget_select_default(budget_id) }}
        {{ nav.budgets_invite_users(budget_id) }}
    </div>
</div>
{% endblock %}