{% import "nav_macros.html" as nav %}
{% block content %}
<body>
    <h1>User Selection</h1>

    {% if users %}
        {% call nav.budget_invite_users_post(budget_id) %}
            <ul class="user-list">
                {% for user in users %}
                    <li class="user-item">
                        <input type="radio" name="selected_user" value="{{ user[0] }}" required>
                        <label>{{ user[1] }}</label>
                    </li>
                {% endfor %}
            </ul>

            <button type="submit">Continue</button>
        {% endcall %}
    {% else %}
        <p>You don't have any users to invite.
            {{ nav.budgets_home(budget_id) }}
        </p>
    {% endif %}
</body>
{% endblock %}
