{% block content %}
<body>
    <h1>User Selection</h1>
    {% if users %}
        <form method="POST" action="{{ url_for('budget_invite_users_route') }}">
            <ul class="user-list">
                {% for user in users %}
                    <li class="user-item">
                        <input type="radio" name="selected_user" value="{{ user[0] }}" required>
                        <label>{{ user[1] }}</label>
                    </li>
                {% endfor %}
            </ul>

            <button type="submit">Continue</button>
        </form>
    {% else %}
        <p>You don't have any users to invite.
            <a href="{{ url_for('home_route') }}">Home</a>.
        </p>
    {% endif %}
</body>
{% endblock %}