{% block content %}
<div class="budget-home-container">
    <h1 class="budget-home-title">Budget</h1>

    <div class="btn-group">
        <a href="{{ url_for('budget_create_route') }}" class="btn">Create A New Budget</a>
    </div>
    <div class="btn-group">
        <a href="{{ url_for('budget_select_default_route') }}" class="btn">Select A New Default Budget</a>
    </div>
    <div class="btn-group2">
        <a href="{{ url_for('home_route') }}" class="btn">Home</a>
    </div>
</div>
{% endblock %}
