{% import "nav_macros.html" as nav %}
{% block content %}
<div class="budget-home-container">
    <h1 class="budget-home-title">Budget</h1>

    <div class="btn-group">
        {{ nav.envelopes_home(budget_id) }}
    </div>

    <div class="btn-group">
        {{ nav.receipts_home(budget_id) }}
    </div>

    <div class="btn-group">
        {{ nav.payment_sources_home(budget_id) }}
    </div>

    <div class="btn-group">
        {{ nav.budget_settings(budget_id) }}
    </div>

    <div class="btn-group2">
        {{ nav.home() }}
    </div>

    <div class="btn-group2">
        {{ nav.logout() }}
    </div>
</div>
{% endblock %}
