{% block content %}
    {% if envelopes %}
        {% for envelope, envelope_details in envelopes.items() %}
            <h3>{{ envelope }}</h3>
                <table border="1">
                    <tbody>
                        {% for envelope_detail in envelope_details %}
                            <tr>
                                <td>{{ envelope_detail[1] }}</td>
                                <td>{{ envelope_detail[2] }}</td>
                                <td>{{ envelope_detail[3] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endfor %}
    {% endif %}
    <div class="btn-group2">
        <a href="{{ url_for('envelopes_home_route') }}" class="btn">Envelopes Home</a>
    </div>
    <div class="btn-group2">
        <a href="{{ url_for('logout_route') }}" class="btn">Logout</a>
    </div>
{% endblock %}