{% import "nav_macros.html" as nav %}
{% extends "base.html" %}

{% block title %}Envelopes{% endblock %}

{% block content %}
<div class="home-container">
    <div class="header-links">
        {{ nav.budgets_home(budget_id) }}
        {{ nav.home() }}
        {{ nav.logout() }}
    </div>
    <h1 class="budget-home-title">Envelopes</h1>

    <div class="btn-group">
        {{ nav.envelopes_view(budget_id) }}
        {{ nav.envelope_create(budget_id) }}
    </div>
    </div>
</div>
{% endblock %}