{% macro home() %}
    <a href="{{ url_for('home_route') }}">Home</a>
{% endmacro %}

{% macro budgets_home(budget_id) %}
    <a href="{{ url_for('budget_home_route', budget_id=budget_id) }}">Budget Home</a>
{% endmacro %}

{% macro budgets_create(budget_id) %}
    <a href="{{ url_for('budget_create_route') }}">Create A Budget</a>
{% endmacro %}

{% macro budget_settings(budget_id) %}
    <a href="{{ url_for('budget_settings_route', budget_id=budget_id) }}">Budget Settings</a>
{% endmacro %}

{% macro budgets_invite_users(budget_id) %}
    <a href="{{ url_for('budget_invite_users_route', budget_id=budget_id) }}">Invite A User</a>
{% endmacro %}

{% macro budget_invite_users_form(budget_id) %}
<form method="POST" action="{{ url_for('budget_invite_users_route', budget_id=budget_id) }}">
    {{ caller() }}
</form>
{% endmacro %}




{% macro envelopes_home(budget_id) %}
    <a href="{{ url_for('envelopes_home_route', budget_id=budget_id) }}">Envelopes</a>
{% endmacro %}

{% macro logout() %}
    <a href="{{ url_for('logout_route') }}">Logout</a>
{% endmacro %}