{% macro logout() %}
    <a href="{{ url_for('logout_route') }}" class="btn grey-btn">Logout</a>
{% endmacro %}

{% macro home() %}
    <a href="{{ url_for('home_route') }}" class="btn nav-btn">Home</a>
{% endmacro %}

{% macro budgets_home(budget_id) %}
    <a href="{{ url_for('budget_home_route', budget_id=budget_id) }}" class="btn nav-btn">Budgets</a>
{% endmacro %}


{% macro budget_create(budget_id) %}
    <a href="{{ url_for('budget_create_route', budget_id=budget_id) }}">Create A Budget</a>
{% endmacro %}

{% macro budget_settings(budget_id) %}
    <a href="{{ url_for('budget_settings_route', budget_id=budget_id) }}" class="btn nav-btn">Budget Settings</a>
{% endmacro %}

{% macro budgets_invite_users(budget_id) %}
    <a href="{{ url_for('budget_invite_users_route', budget_id=budget_id) }}" class="btn nav-btn">Invite A User</a>
{% endmacro %}

{% macro budget_invite_users_post(budget_id) %}
<form method="POST" action="{{ url_for('budget_invite_users_route', budget_id=budget_id) }}">
    {{ caller() }}
</form>
{% endmacro %}

{% macro budget_select_default(budget_id) %}
    <a href="{{ url_for('budget_select_default_route', budget_id=budget_id) }}" class="btn nav-btn">Select Default Budget</a>
{% endmacro %}

{% macro budget_select_default_post(budget_id) %}
    <form method="POST" action="{{ url_for('budget_select_default_route', budget_id=budget_id) }}">
        {{ caller() }}
    </form>
{% endmacro %}



{% macro ledger_overview(budget_id) %}
    <a href="{{ url_for('ledger_overview_route', budget_id=budget_id) }}" class="btn nav-btn">Ledger Overview</a>
{% endmacro %}

{% macro ledger_settings(budget_id) %}
    <a href="{{ url_for('ledger_settings_route', budget_id=budget_id) }}" class="btn nav-btn">Ledger Settings</a>
{% endmacro %}

{% macro ledger_receipts_view(budget_id, week_start, week_end) %}
    <a href="{{ url_for('receipts_view_route', budget_id=budget_id) }}?start_date={{ week_start }}&end_date={{ week_end }}"class="btn nav-btn">View</a>
{% endmacro %}


{% macro envelopes_home(budget_id) %}
    <a href="{{ url_for('envelopes_home_route', budget_id=budget_id) }}" class="btn nav-btn">Envelopes</a>
{% endmacro %}

{% macro envelopes_view(budget_id) %}
    <a href="{{ url_for('envelopes_view_route', budget_id=budget_id) }}" class="btn nav-btn">View Envelopes</a>
{% endmacro %}

{% macro envelope_create(budget_id) %}
    <a href="{{ url_for('envelopes_create_route', budget_id=budget_id) }}" class="btn nav-btn">Create An Envelope</a>
{% endmacro %}

{% macro envelope_edit(budget_id, envelope_id) %}
<a class="btn btn-small" href="{{ url_for('envelopes_edit_route', budget_id=budget_id, envelope_id=envelope_id) }}">Edit</a>
{% endmacro %}

{% macro envelope_edit_delete(budget_id, envelope_id) %}
    <button 
        type="submit" 
        name="delete_envelope" 
        value="1"
        class="btn delete-btn"
        onclick="return confirm('Are you sure you want to delete this envelope? This cannot be undone.');"
    >
        Delete
    </button>
{% endmacro %}



{% macro receipts_home(budget_id) %}
    <a href="{{ url_for('receipts_home_route', budget_id=budget_id) }}" class="btn nav-btn">Receipts</a>
{% endmacro %}

{% macro receipts_view(budget_id) %}
    <a href="{{ url_for('receipts_view_route', budget_id=budget_id) }}" class="btn nav-btn">View Receipts</a>
{% endmacro %}

{% macro receipts_create(budget_id) %}
    <a href="{{ url_for('receipts_create_route', budget_id=budget_id) }}" class="btn nav-btn">Create Receipt</a>
{% endmacro %}

{% macro receipts_edit(budget_id,receipt_id) %}
    <a href="{{ url_for('receipts_edit_route', budget_id=budget_id, receipt_id=receipt_id) }}" class="btn nav-btn">Edit</a>
{% endmacro %}

{% macro receipts_delete(budget_id) %}
    <a href="{{ url_for('receipts_delete_route', budget_id=budget_id) }}">Delete Receipt</a>
{% endmacro %}

{% macro receipt_templates_view(budget_id) %}
    <a href="{{ url_for('receipt_templates_view_route', budget_id=budget_id) }}" class="btn nav-btn">View Receipt Templates</a>
{% endmacro %}

{% macro receipt_templates_edit(budget_id,template_id) %}
    <a href="{{ url_for('receipt_templates_edit_route', budget_id=budget_id, template_id=template_id) }}" class="btn nav-btn">Edit</a>
{% endmacro %}




{% macro payment_sources_home(budget_id) %}
    <a href="{{ url_for('payment_sources_home_route', budget_id=budget_id) }}" class="btn nav-btn">Payment Sources</a>
{% endmacro %}

{% macro payment_sources_view(budget_id, payment_sources) %}
    <a href="{{ url_for('payment_sources_view_route', budget_id=budget_id, payment_sources=payment_sources) }}" class="btn nav-btn">View Payment Sources</a>
{% endmacro %}

{% macro payment_sources_create(budget_id) %}
    <a href="{{ url_for('payment_sources_create_route', budget_id=budget_id) }}" class="btn nav-btn">Create Payment Sources</a>
{% endmacro %}

{% macro payment_sources_edit(budget_id, payment_source_id) %}
    <a href="{{ url_for('payment_sources_edit_route', budget_id=budget_id, payment_source_id=payment_source_id) }}">Edit</a>
{% endmacro %}

{% macro payment_sources_delete(budget_id) %}
    <a href="{{ url_for('payment_sources_delete_route', budget_id=budget_id) }}">Delete Payment Source</a>
{% endmacro %}