{% import "nav_macros.html" as nav %}
{% extends "base.html" %}

{% block title %}Create Envelope{% endblock %}

{% block content %}
<div class="home-container">

    <!-- Top navigation -->
    <div class="header-links">
        {{ nav.payment_sources_home(budget_id) }}
        {{ nav.home() }}
        {{ nav.logout() }}
    </div>
    <div class="card">
        <h1 class="home-title">Create A Payment Source!</h1>
            <form method="POST">
                <div class="form-group">
                <label for="Name">Payment Source Name</label>
                <input
                    type="text"
                    id="Name"
                    name="payment_source_name"
                    required
                >
            </div>
                <button type="submit" class="btn submit-btn">
                    Create Payment Source
                </button>
            </form>
    </div>
{% endblock %}