{% import "nav_macros.html" as nav %}
{% extends "base.html" %}

{% block title %}Edit Envelope{% endblock %}

{% block content %}
<div class="home-container">

    <!-- Top right navigation -->
    <div class="header-links">
        {{ nav.payment_sources_home(budget_id) }}
        {{ nav.home() }}
        {{ nav.logout() }}
    </div>

        <!-- Main card -->
    <div class="card">
        <h1>Edit Payment Source</h1>

    <form method="POST" id="payment-source-form">
        <div class="form-group">
            <label for="name">Payment Source</label>
            <input 
                id="name" 
                name="payment_source_name" 
                type="text"
                class="form-control"
                value="{{ payment_source[1] }}"
                required
            >
        </div>

        <div class="btn-group2">
            <button type="submit" class="btn submit-btn">Save</button>
            <button type="submit" name="delete" class="btn delete-btn">Delete</button>
        </div>
    </form>
{% endblock %}
