{% import "nav_macros.html" as nav %}
{% extends "base.html" %}

{% block title %}Budgets{% endblock %}

{% block content %}
<div class="home-container">
    <div class="header-links">
        {{ nav.budgets_home(budget_id) }}
        {{ nav.home() }}
        {{ nav.logout() }}
    </div>

    <h1 class="home-title">Receipts Home</h1>
       
    <div class="btn-group2">
        {{ nav.receipts_view(budget_id) }}
        {{ nav.receipt_templates_view(budget_id) }}
        {{ nav.receipts_create(budget_id) }}
    </div>
</div>
{% endblock %}