/* Top-right header links */
.header-links {
    position: absolute;
    top: 10px;
    right: 20px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}


/********** BUTTONS **********/
/********** All Buttons **********/
.btn {
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* Button group spacing */
.btn-group {
    margin-top: 20px;
}

/* Budget Button */
.budget-btn {
    background-color: #007bff;
}
.budget-btn:hover {
    background-color: #0056b3;
}

/* Ledger Overview Button */
.ledger-overview-btn {
    background-color: #007bff;
}
.ledger-overview-btn:hover {
    background-color: #0056b3;
}

/* Envelopes Button */
.envelopes-btn {
    background-color: #007bff;
}
.envelopes-btn:hover {
    background-color: #0056b3;
}

/* receipts Button */
.receipts-btn {
    background-color: #007bff;
}
.receipts-btn:hover {
    background-color: #0056b3;
}

/* Payment Sources Button */
.payment-sources-btn {
    background-color: #007bff;
}
.payment-sources-btn:hover {
    background-color: #0056b3;
}

/* Budget Settings Button */
.budget-settings-btn {
    background-color: #b9b9b9;
    color: #333;
}
.budget-settings-btn:hover {
    background-color: #929292;
}



/* Logout button (grey) */
.logout-btn {
    background-color: #e0e0e0;
    color: #333;
}

.logout-btn:hover {
    background-color: #bdbdbd;
}






/* Budget page container */
.budget-home-container {
    text-align: center;
    margin-top: 80px;
}


/* Home page container */
.home-container {
    text-align: center;
    margin-top: 80px;
}

.home-title {
    font-size: 2em;
    margin-bottom: 30px;
}